/* App.css */

body {
  background-color: #eff1f5; /* Dark gray background */
  font-family: "Arial", sans-serif;
}

.homepage-container {
  padding-top: 2rem;
}

.header-title {
  color: #1a2130;
  text-align: left;
  margin-bottom: 2rem;
  margin-left: 5rem;
}

.header-row {
  margin-top: 3rem;
}

.form-row {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.form-column {
  display: flex;
  justify-content: center;
}

.form-container {
  background-color: #dce0e8;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 1rem;
  margin-bottom: 5rem;
}

.menu-card {
  max-width: 500px;
  margin: 0 auto; /* Centra la card orizzontalmente */
  text-align: center; /* Centra il testo all'interno della card */
}

/* Assicurati che il testo all'interno della card sia centrato */
.menu-card .card-body {
  text-align: left; /* Centra il testo del corpo della card */
}

/* Stili per l'alert di errore */
.error-message {
  margin: 0; /* Rimuove il margine per adattarsi alla card */
  padding: 1rem; /* Aggiunge padding all'alert */
}

.footer {
  background-color: #232634;
  padding: 2rem 0;
  border-top: 1px solid #e7e7e7;
}

.footer h5 {
  color: #c6d0f5;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.footer p {
  color: #c6d0f5;
  margin: 0.5rem 0;
}

.footer a {
  color: #8caaee;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer .text-md-left {
  text-align: left !important;
}

.footer .text-md-right {
  text-align: right !important;
}

.footer .text-center {
  text-align: center !important;
}

.footer .mt-3 {
  margin-top: 1rem !important;
}

.navbar {
  margin-bottom: 2rem;
}

.error-message {
  margin: 0; /* Remove margin to fit inside the card */
  padding: 1rem; /* Add padding to the error message */
}

.submit-button {
  margin-top: 1rem; /* Add space above the button */
}

.menu-of-the-day-container {
  max-width: 500px;
  max-height: 300px;
  background-color: #dce0e8;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Navbar styles */
.navbar-custom {
  height: 80px; /* Altezza della NavBar */
  display: flex;
  align-items: center;
  background: #303446;
}

.navbar-brand {
  position: absolute;
  left: 50%; /* Centro del brand */
  transform: translateX(-50%); /* Centro perfetto */
  display: flex;
  align-items: center;
  justify-content: center; /* Centro logo e testo */
}

.navbar-brand img {
  margin-right: 10px; /* Spazio tra il logo e il testo */
}

.navbar-brand span {
  color: #c6d0f5;
  font-size: 1.25rem; /* Dimensione del testo */
}

/* Pulsanti a sinistra */
.navbar-nav-left {
  display: flex;
  flex-direction: row;
  margin-right: auto; /* Allinea i pulsanti a sinistra */
}

.nav-button {
  margin-right: 1rem; /* Spazio tra i pulsanti */
}
